html{
  scroll-behavior: smooth;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
p{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color:#606060 ;
}

.header{
    width: 100%;
    height: 100vh;
    background-image:url('../images/a.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(100% 0%, 100% 77%, 50% 100%, 0 75%, 0 0);
    position: relative;
}

i{
    color: #2fccd0;
}

.header::before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb, #16c9f6 100%);
    opacity: .3;
    z-index: -1 ;
}

.inner-width{
    max-width: 1000px;
    padding: 0 10px;
    margin: auto;
  }

  .logo{
    float: left;
    padding: 10px 0;
  }
  
  .logo img{
    height: 50px;
  }

.navbar::before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb, #16c9f6 100%);
    opacity: .8;
    z-index: -1 ;
}

.nav-item a{
    color: white;
    font-weight: bold;
}
.navbar-brand-danger{
    color:orange;
    font-weight: bold;
}
.header-section{
    width: 100%;
    height: inherit;
    color: white;
    text-align: center;
    position: relative;
}
.center-div{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

.header-buttons a{
    border: 1px solid white;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    text-decoration: none;
}

.header-buttons a:hover{
    text-decoration: none;
    background-color: white;

}

.center-div p{
    font-size: 1.3rem;
    padding: 10px 0 20px 0;
    color: white;
}

.header-extradiv{
    width: 100%;
    height: auto;
    margin: 100px 0;
    text-align: center;
}

#extradiv{
    font-weight: bold;
    background: #fff;
    border: medium none;
    padding: 40px !important;
    border-radius: 3px;
    transition: 0.3s;
}

#extradiv:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    transform: translateY(-20px);
}

.serviceoffers{
    background: #f1f1f1;
}

.project{
    margin: 50px 0;
}
.project h5{
    font-size: 1.5rem;
    text-align: center;
}
.jquery{
    margin: 50px 0;
}

.cn{
    min-height: 100vh;
    background-image:url('../images/bg.png') !important;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contact-page{
    width: 100%;
    max-width: 1400px;
    padding: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
  }
  
.cn h2{
    width: 100%;
    margin-bottom: 80px;
    text-transform: uppercase;
    color: #322;
    font-size: 60px;
  }
  
  .contact-info, .contact-form{
    flex: 1;
  }
  
  .item{
    margin-bottom: 24px;
    font-size: 16px;
    color: #322;
  }
  
.icon{
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: #3494db;
    text-align: center;
    color:white;
    border-radius: 50%;
    margin-right: 16px;
    align-items: center;
    padding-top: 20px;
  }
  
  .contact-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
.textb{
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    background-color: #222;
    border: none;
    color: #fff;
    margin-bottom: 20px;
}
  
.cn textarea{
    width: 100%;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    padding: 12px;
    background-color: #222;
    border: none;
    color: #fff;
    margin-bottom: 20px;
  }
  
.btn{
    width: 120px;
    height: 40px;
    margin-left: auto;
    background-color: #3494db !important;
    border: none;
    color: #fff !important;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid #3494db !important;
    transition: .3s linear;
  }
  
.btn:hover{
    background-color: transparent !important;
    color: #3494db !important;
  }
  
@media screen and (max-width: 980px){
    .contact-page{
      max-width: 800px;
    }
    h2{
      font-size: 40px;
      margin-bottom: 40px;
    }
  
    .contact-info, .contact-form{
      flex: 100%;
      margin-bottom: 30px;
    }
    .textb{
      width: 100%;
    }
  }
/* footer css */


footer{
    background: #f1f1f1;
    padding: 90px 0;
  }
  
.footer-container{
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
  }
  
.footerlogo{
    width: 180px;
  }
  
.social-media{
    margin: 20px 0;
  }
  
.social-media a{
    color:#3494db !important;
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
    transition: .3s linear !important;
  }
  
.social-media a:hover{
    color: #fc5c65 !important;
  }
  
.right-col h1{
    font-size: 26px;
  }
  
.border{
    width: 200px;
    height: 4px;
    background: #fc5c65;
  }
  
.newsletter-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .right-col h1{
    font-size: 26px;
  }
  
  .txemail{
    flex: 1;
    padding: 18px 40px;
    font-size: 16px;
    color: #293043;
    background: #ddd;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    min-width: 260px;
  }

  .btnn{
    padding: 18px 40px;
    font-size: 16px;
    color: #f1f1f1;
    background: #fc5c65;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    margin-left: 20px;
    cursor: pointer;
    transition: opacity .3s linear;
  }
  
  .btnn:hover{
    opacity: .7;
  }

  #myBtn{
    /* display: none; */
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    border: none;
    color: #fff;
    background: #00abff;
    padding:10px ;
    border-radius: 10px;
  }
#myBtn:hover{
    background: #606060;
    
  }
  
/* social media button css */

.middle{
  /* position: absolute; */
  /* top: 50%; */
  /* transform: translateY(-50%); */
  background: linear-gradient(to right, #1e5799 0%, #3ccdbb, #16c9f6 100%);
  width: 100%;
  height: 100%;
  padding: 200px;
  text-align: center;
}
.bn{
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}
.bn i{
  line-height: 90px;
  font-size: 26px;
  transition: 0.2s linear;
}
.bn:hover i{
  transform: scale(1.3);
  color: #f1f1f1;
}
.bn::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.bn:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}
